# Byte-compiled files
__pycache__/

# Downloaded Data (~160gb)
downloaded/
downloads/
fetched/
ref/

# specific files
build/
*.zip
*.gzip
*.accdb

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.envrc
.venv