# Byte-compiled files
__pycache__/

# Distribution / packaging
downloaded/
downloads/
fetched/
ref/
build/
*.zip
*.gzip
*.accdb

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.envrc
.venv